@model Movie

@{
    ViewData["Title"] = "Your Movies";
}

<div class="text-center">
    <h1 class="display-4">Add movie to favourites ?</h1>
</div>
<div class="container">
    <table class="table">
        <tr>
            <td class="align-middle text-center"><img src="@Url.Content(Model.ImageUrl)" /></td>
            <td class="align-middle" rowspan="4">
                <p><b>@Html.DisplayNameFor(modelItem => Model.Title):</b> @Model.Title</p>
                <p><b>@Html.DisplayNameFor(modelItem => Model.ReleaseYear):</b> @Model.ReleaseYear</p>
                <p><b>@Html.DisplayNameFor(modelItem => Model.Director):</b> @Model.Director</p>
                <p><b>@Html.DisplayNameFor(modelItem => Model.Genre):</b> @Model.Genre</p>
            </td>
        </tr>
    </table>
    <div class="row justify-content-center">
        <form method="post" asp-action="AddFavourite" asp-controller="Movies">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Add to favourites">
                </div>
                <div class="col">
                    <a class="btn btn-danger" asp-controller="Movies" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>